# Poetry
poetry.lock

# Python
*__pycache__/
*.py[cod]
*$py.class
# Program results
/mnist/models/model.pth
/data/prediction.csv
/data/prediction_onnx.csv
/lightning_logs
/outputs
/.venv
/.lightning_logs
/mlruns
/mlartifacts
/server/outputs
/logs
/Scripts
/share
/Lib
pyvenv.cfg
/include
/triton_backend/model_repository/mnist-onnx/1/model.onnx
/triton_backend/assets
LICENSE.txt
/triton_backend/outputs
