# Poetry
poetry.lock

# Python
*__pycache__/
*.py[cod]
*$py.class
# Program results
/mnist/models/model.pth
/data/prediction.csv
/lightning_logs
/outputs
/.venv
/.lightning_logs
/mlruns
/server/outputs
